html, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    background-image: url(https://i.pinimg.com/originals/23/94/bc/2394bcf57859ce7cdfded737020011f3.png);
    font-size: 20px;
}

p{
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

.start{
    background-color: #97BC62FF;
    border: solid #2C5F2D;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    width: auto;

}
@media screen and (max-width:1024px) {

    #start_picture {
        display: none;

    }
}


.article_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.article{
    margin: 10px;
    border: solid #2C5F2D;
    display: inline-block;
    width: 450px;
    flex-direction: column;
    align-content: center;
    background-color: #97BC62FF;
    padding: 20px;
    border-radius: 10px;
    
    
}
.picture{
    width: 400px;
    height: auto;
}
.footer{
    display: flex;
    margin: 10px;
    border: solid #2C5F2D;
    flex-direction: column;
    align-items: center;
    background-color: #97BC62FF;
}
h3{
    padding: 20px;
    margin: 20px;
    
}
li{
    display: inline-block;
    justify-content: space-between;
    
}
li > a:link{
    color: rgb(66, 66, 238);
    text-decoration: none;
}
li > a:hover{
    color: rgb(10, 70, 25)
}
.article:hover{
    background-color: #53A567FF;
}