html, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
}
.article1, .article2, .article3, .article4, .article5{
    margin: 10px;
    border: solid;
    display: inline-block;
    width: 400px;
    flex-direction: column;
    align-content: center;
    
}
.picture{
    width: 350px;
    height: auto;
}
h2{
    color: red;
}